@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	top: 0px;
	padding: 10px;
	position: absolute;
}
	.site-logo {
	position: relative;
	display: block;
	float: left;
	margin-left:0.9em;
}
	.site-logo img {
	width:5em;
}
	.site-nav {
	list-style-type: none;
	text-align: right;
	padding-top:0.9em;
	padding-right:0.9em;
}
	.li {
	display: inline-block;
	margin: 10px;
	font-size: 1.25em;
}
	a {
	color:#121212;
	font-family: verdana;
	text-decoration: none;
}
	a:hover {
	color:goldenrod;
}

body {
	background-color: #FFF;
}	
	.myface {
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius:50%;
		clip-path: circle(111px);
		width:14em;
		margin-bottom:-60px;
		margin-top:60px
	}
	.h1name {
		color:#121212;
		font-size:350%;
		text-align:center;
		padding-bottom:25px;
		letter-spacing: 5px
	}
	.h1name {
  		font-family: "Inter Tight", sans-serif;
  		font-optical-sizing: auto;
  		font-weight:500;
  		font-style: normal;
}
	.pstyle1{
		color:#404040;
		font-size:105%;
		text-align:center;
		font-family:arial;
		width:400px;
		margin:auto;
		padding-bottom: 40px
	}
	.aboutbutton {
		color:white;
		font-size:100%;
		text-align:center;
		font-family:"Inter Tight", sans-serif;
		font-optical-sizing: auto;
		font-weight:400;
		font-style:normal;
		letter-spacing: 0.5px;
		background-color:#242424;
		padding: 14px 7px;
		width:120px;
		margin:0px auto 40px;
	}
	.aboutbutton:hover {
		background-color:#080808;
		}
	.aboutbutton:active {
		background-color:darkgoldenrod;
}
	.emptyblock {
		width:80%;
		height:50px;
}

section {
	display:block;
	max-width: 1400px;
	margin-left:auto;
	margin-right:auto;
}
	.h2blog {
		font-family: "Inter Tight", sans-serif;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal;
		letter-spacing: 1px;
		font-size: 240%;
		margin-bottom: 40px;
}
	.container2 {
		max-width: 700px;
		margin:auto auto 40px;
}	
	.container {
		position: relative;
  		width: 100%;
  		overflow: hidden;
  		padding-top: 56.25%;
		background-color: orange;
}
	.iframe {
		position: absolute;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
  		width: 100%;
  		height: 100%;
  		border: none;
		margin-left: auto;
		margin-right: auto;
		
}

footer {
	background-color: darkgoldenrod;
	clear: both;
	color: gold;
	text-align: center;
	padding: 20px;
	font-size: 125%;
	font-family:cambria;
}
button {
	background-color:palegoldenrod;
	font-family:cambria;
	padding: 3px;
	margin:15px 0px 0px;
	border:outset 3px goldenrod;
	border-radius: 5px;
}
button:hover {
	background-color:goldenrod;
	border:outset 3px darkgoldenrod;
}
.darkmode {
	background-color: #000;
  	color: white;
}


.h3blog {
	font-family: "Inter Tight", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 1px;
}
label {
	font-family: "Inter Tight", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 1px;
}
.forms {
	border-radius: 5px;
  	background-color: cadetblue;
  	padding: 20px;
}
input[type=submit] {
	background-color: lightgoldenrodyellow;
	padding: 5px;
	border: outset 3px #346D6F;
	border-radius: 4px;
	cursor: pointer;
	font-family: "Inter Tight", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	letterspacing: 1px;
}

input[type=submit]:hover {
  background-color: darkcyan;
}
input {
	background-color: #2196F3;
}