@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	top: 0px;
	padding: 10px;
	position: absolute;
	background-color:#FFF;
}
	.site-logo {
	position: relative;
	display: block;
	float: left;	
}
	.site-logo img {
	width:5em;
}
	.site-nav {
	list-style-type: none;
	text-align: right;
	padding-top:0.9em;
}
	li {
	display: inline-block;
	margin: 10px;
	font-size: 1.25em;
}
	a {
	color:#121212;
	font-family: verdana;
	text-decoration: none;
}
	a:hover {
	color:goldenrod;
}
body {
	background-color: #FFF;
}
	
	.myface {
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius:50%;
		clip-path: circle(150px)
	}
	.h1name {
		color:#121212;
		font-size:300%;
		text-align:center;
		padding-bottom:25px;
		letter-spacing: 5px
	}
	.h1name {
  		font-family: "Inter Tight", sans-serif;
  		font-optical-sizing: auto;
  		font-weight:400;
  		font-style: normal;
}
	.pstyle1{
		color:#404040;
		font-size:105%;
		text-align:center;
		font-family:arial;
		width:400px;
		margin:auto;
		padding-bottom: 40px
	}
	.aboutbutton {
		color:white;
		font-size:100%;
		text-align:center;
		font-family:"Inter Tight", sans-serif;
		font-optical-sizing: auto;
		font-weight:400;
		font-style:normal;
		letter-spacing: 0.5px;
		background-color:#242424;
		padding: 14px 7px;
		width:120px;
		margin:0px auto 40px;
	}
	.aboutbutton:hover {
		background-color:#080808;
		}
	.aboutbutton:active {
		background-color:darkgoldenrod;
}
	.aboutbutton:visited {
		background-color:gold;
}
	.imgmap {
	width:700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer {
	background-color: darkgoldenrod;
	clear: both;
	color: gold;
	text-align: center;
	padding: 20px;
	font-size: 125%;
	font-family:cambria;
}